<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link headerLink" (click)="navigateToModule('active')">Active</a>
        <a class="nav-item nav-link headerLink" (click)="navigateToModule('deleted')">Deleted</a>
        <a class="nav-item nav-link headerLink" (click)="navigateToModule('manage')">Manage</a>
      </div>
    </div>
  </nav>
